@page
@model MyTask.Pages.AdditionFormModel

    <form method="post">
        <h1>Addition of two Numbers</h1>
        <br />
        <label for="number1">Number 1:</label>
        <input type="text" id="number1" name="Number1" asp-for="Number1" />

        <label for="number2">Number 2:</label>
        <input type="text" id="number2" name="Number2" asp-for="Number2" />

        <button type="submit">Add</button>
    </form>



