@page
@model MyTask.Pages.ResultPageModel
@{
    <div>
        <h2>Addition Result</h2>
        <p>The result is: @Model.ResultValue</p>
        <a asp-page="/AdditionForm">Back to Addition Form</a>
    </div>
}
